.df {
    display: flex;
}


.fd_col {
    flex-direction: column;
}

.jc_c {
    justify-content: center;
}

.jc_sb {
    justify-content: space-between;
}

.jc_sa {
    justify-content: space-around;
}

.App {
    width: 100%;
}

.container {
    padding: 25px;
}

.block {
    display: flex;
    gap: 15px;
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.block__own {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.short_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.df_fww {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.likes {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.like_item {
    width: 60px;
    height: 30px;
    display: flex;
    border-radius: 10px;
    border: 1px solid lightgray;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.like_item:hover {
    background: #d3d3d3b2;
}

.like_item:active {
    background: #d3d3d3;
}

.btn {
    height: 30px;
    width: 75px;
    display: flex;
    background-color: hsl(205, 46%, 92%);
    border: 1px solid lightslategrey;
    color: black;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.logo {
    font-weight: 700;
    font-family: cursive;
    font-size: 1.3rem;
}